config BT_HIDP
	tristate "HIDP protocol support"
	depends on INPUT && HID_SUPPORT
	select HID
	select BT
	help
	  HIDP (Human Interface Device Protocol) is a transport layer
	  for HID reports.  HIDP is required for the Bluetooth Human
	  Interface Device Profile.

	  Say Y here to compile HIDP support into the kernel or say M to
	  compile it as module (hidp).

