#include "qcom-apq8064.dtsi"
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/soc/qcom,gsbi.h>

#include <dt-bindings/pinctrl/qcom,pm8xxx-gpio.h>
#include <dt-bindings/mfd/qcom-rpm.h>
#include <dt-bindings/input/input.h>

/ {
	model = "Sony Lagan CDB";
	compatible = "qcom,apq8064";
	interrupt-parent = <&intc>;

	soc {
		msmgpio: pinctrl@800000 {
			pinctrl-names = "default";
			pinctrl-0 = <&debug_uart>;

			debug_uart: debug_uart {
				mux {
					pins = "gpio51", "gpio52";
					function = "gsbi5";
				};

				tx {
					pins = "gpio51";
					drive-strength = <4>;
					bias-disable;
				};

				rx {
					pins = "gpio52";
					drive-strength = <2>;
					bias-pull-up;
				};
			};

			gsbi1_i2c_active: gsbi1_i2c {
				mux {
					pins = "gpio20", "gpio21";
					function = "gsbi1";
				};

				data {
					pins = "gpio20";
					drive-strengh = <2>;
					bias-disable;
				};

				clk {
					pins = "gpio21";
					drive-strength = <2>;
					bias-disable;
				};
			};

			gsbi2_i2c_active: gsbi2_i2c {
				mux {
					pins = "gpio24", "gpio25";
					function = "gsbi2";
				};

				data {
					pins = "gpio24";
					drive-strengh = <2>;
					bias-disable;
				};

				clk {
					pins = "gpio25";
					drive-strength = <2>;
					bias-disable;
				};
			};

			sdc1_active: sdc1_active {
				clk {
					pins = "sdc1_clk";
					drive-strengh = <16>;
					bias-disable;
				};

				cmd {
					pins = "sdc1_cmd";
					drive-strengh = <10>;
					bias-pull-up;
				};

				data {
					pins = "sdc1_data";
					drive-strengh = <10>;
					bias-pull-up;
				};
			};

			sdc3_active: sdc3_active {
				clk {
					pins = "sdc3_clk";
					drive-strengh = <8>;
					bias-disable;
				};

				cmd {
					pins = "sdc3_cmd";
					drive-strengh = <8>;
					bias-pull-up;
				};

				data {
					pins = "sdc3_data";
					drive-strengh = <8>;
					bias-pull-up;
				};
			 };

			sdc3_cd: sdc3_cd {
				pin {
					pins = "gpio26";
					function = "gpio";

					drive-strength = <2>;
					bias-pull-up;
				};
			};
		};

		gsbi1 {
			compatible = "qcom,gsbi-v1.0.0";
			reg = <0x12440000 0x100>;
			clocks = <&gcc GSBI1_H_CLK>;
			clock-names = "iface";
			#address-cells = <1>;
			#size-cells = <1>;
			ranges;

			qcom,mode = <GSBI_PROT_I2C_UART>;

			i2c@12460000 {
				compatible = "qcom,i2c-qup-v1.1.1";
				reg = <0x12460000 0x1000>;
				interrupts = <0 194 0>;

				clocks = <&gcc GSBI1_QUP_CLK>, <&gcc GSBI1_H_CLK>;
				clock-names = "core", "iface";

				clock-frequency = <355000>;

				#address-cells = <1>;
				#size-cells = <0>;

				pinctrl-names = "default";
				pinctrl-0 = <&gsbi1_i2c_active>;
			};
		};

		gsbi2 {
			compatible = "qcom,gsbi-v1.0.0";
			reg = <0x12480000 0x100>;
			clocks = <&gcc GSBI2_H_CLK>;
			clock-names = "iface";
			#address-cells = <1>;
			#size-cells = <1>;
			ranges;

			qcom,mode = <GSBI_PROT_I2C_UART>;

			i2c@124a0000 {
				compatible = "qcom,i2c-qup-v1.1.1";
				reg = <0x124a0000 0x1000>;
				interrupts = <0 196 0>;

				clocks = <&gcc GSBI2_QUP_CLK>, <&gcc GSBI2_H_CLK>;
				clock-names = "core", "iface";

				clock-frequency = <355000>;

				#address-cells = <1>;
				#size-cells = <0>;

				pinctrl-names = "default";
				pinctrl-0 = <&gsbi2_i2c_active>;
			};
		};

		gsbi5 {
			compatible = "qcom,gsbi-v1.0.0";
			reg = <0x1a200000 0x100>;
			clocks = <&gcc GSBI5_H_CLK>;
			clock-names = "iface";
			#address-cells = <1>;
			#size-cells = <1>;
			ranges;

			qcom,mode = <GSBI_PROT_I2C_UART>;

			serial@1a040000 {
				compatible = "qcom,msm-uartdm-v1.3", "qcom,msm-uartdm";
				reg = <0x1a240000 0x1000>,
				      <0x1a200000 0x1000>;
				interrupts = <0 154 0x0>;
				clocks = <&gcc GSBI5_UART_CLK>, <&gcc GSBI5_H_CLK>;
				clock-names = "core", "iface";
			};
		};

		amba {
			compatible = "arm,amba-bus";
			#address-cells = <1>;
			#size-cells = <1>;
			ranges;

			sdcc1: sdcc@12400000 {
				compatible      = "arm,pl18x", "arm,primecell";
				arm,primecell-periphid = <0x00051180>;
				reg             = <0x12400000 0x8000>;
				interrupts      = <GIC_SPI 104 IRQ_TYPE_LEVEL_HIGH>;
				interrupt-names = "cmd_irq";
				clocks          = <&gcc SDC1_CLK>, <&gcc SDC1_H_CLK>;
				clock-names     = "mclk", "apb_pclk";
				bus-width       = <8>;
				max-frequency   = <192000000>;
				non-removable;
				cap-sd-highspeed;
				cap-mmc-highspeed;
				vmmc-supply = <&pm8921_l5>;

				pinctrl-names = "default";
				pinctrl-0 = <&sdc1_active>;
			};

			sdcc3: sdcc@12180000 {
				compatible      = "arm,pl18x", "arm,primecell";
				arm,primecell-periphid = <0x00051180>;
				status = "NO!";
				reg             = <0x12180000 0x8000>;
				interrupts      = <GIC_SPI 102 IRQ_TYPE_LEVEL_HIGH>;
				interrupt-names = "cmd_irq";
				clocks          = <&gcc SDC3_CLK>, <&gcc SDC3_H_CLK>;
				clock-names     = "mclk", "apb_pclk";
				bus-width       = <4>;
				cap-sd-highspeed;
				cap-mmc-highspeed;
				max-frequency   = <192000000>;
				no-1-8-v;
				vmmc-supply = <&pm8921_l6>;
				vqmmc-supply = <&pm8921_l7>;

				pinctrl-names = "default";
				pinctrl-0 = <&sdc3_active &sdc3_cd>;
			};
		};

		rpm {
			compatible = "qcom,rpm-apq8064";
			reg = <0x108000 0x1000>;
			qcom,ipc = <&apcs 0x8 2>;

			interrupts = <0 19 0>, <0 21 0>, <0 22 0>;
			interrupt-names = "ack", "err", "wakeup";

			#address-cells = <1>;
			#size-cells = <0>;

			pm8921_s1: pm8921-s1 {
				compatible = "qcom,rpm-pm8921-smps";
				reg = <QCOM_RPM_PM8921_SMPS1>;

				regulator-min-microvolt = <1225000>;
				regulator-max-microvolt = <1225000>;
				regulator-always-on;

				bias-pull-down;
				qcom,switch-mode-frequency = <3200000>;
			};

			pm8921-s2 {
				compatible = "qcom,rpm-pm8921-smps";
				reg = <QCOM_RPM_PM8921_SMPS2>;

				regulator-min-microvolt = <1300000>;
				regulator-max-microvolt = <1300000>;

				bias-pull-down;
				qcom,switch-mode-frequency = <1600000>;
			};

			pm8921-s3 {
				compatible = "qcom,rpm-pm8921-smps";
				reg = <QCOM_RPM_PM8921_SMPS3>;

				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1150000>;

				bias-pull-down;
				qcom,switch-mode-frequency = <4800000>;

				qcom,rpm-assisted-disable;
			};

			pm8921_s4: pm8921-s4 {
				compatible = "qcom,rpm-pm8921-smps";
				reg = <QCOM_RPM_PM8921_SMPS4>;

				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;

				bias-pull-down;
				qcom,switch-mode-frequency = <1600000>;
			};

			pm8921-s5 {
				compatible = "qcom,rpm-pm8921-ftsmps";
				reg = <QCOM_RPM_PM8921_SMPS5>;

				status = "disabled";
			};

			pm8921-s6 {
				compatible = "qcom,rpm-pm8921-ftsmps";
				reg = <QCOM_RPM_PM8921_SMPS6>;

				status = "disabled";
			};

			pm8921_s7: pm8921-s7 {
				compatible = "qcom,rpm-pm8921-smps";
				reg = <QCOM_RPM_PM8921_SMPS7>;

				regulator-min-microvolt = <1300000>;
				regulator-max-microvolt = <1300000>;

				qcom,switch-mode-frequency = <3200000>;
			};

			pm8921-ldo1 {
				compatible = "qcom,rpm-pm8921-nldo";
				reg = <QCOM_RPM_PM8921_LDO1>;

				regulator-always-on;
				regulator-min-microvolt = <1100000>;
				regulator-max-microvolt = <1100000>;

				vin-supply = <&pm8921_s4>;

				bias-pull-down;
			};

			pm8921-ldo2 {
				compatible = "qcom,rpm-pm8921-nldo";
				reg = <QCOM_RPM_PM8921_LDO2>;

				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1200000>;

				vin-supply = <&pm8921_s4>;

				bias-pull-down;
			};

			pm8921-ldo3 {
				compatible = "qcom,rpm-pm8921-pldo";
				reg = <QCOM_RPM_PM8921_LDO3>;

				regulator-min-microvolt = <3075000>;
				regulator-max-microvolt = <3075000>;

				bias-pull-down;
			};

			pm8921-ldo4 {
				compatible = "qcom,rpm-pm8921-pldo";
				reg = <QCOM_RPM_PM8921_LDO4>;

				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;

				bias-pull-down;
			};

			pm8921_l5: pm8921-ldo5 {
				compatible = "qcom,rpm-pm8921-pldo";
				reg = <QCOM_RPM_PM8921_LDO5>;

				regulator-min-microvolt = <2950000>;
				regulator-max-microvolt = <2950000>;

				bias-pull-down;
			};

			pm8921_l6: pm8921-ldo6 {
				compatible = "qcom,rpm-pm8921-pldo";
				reg = <QCOM_RPM_PM8921_LDO6>;

				regulator-min-microvolt = <2950000>;
				regulator-max-microvolt = <2950000>;

				bias-pull-down;
			};

			pm8921_l7: pm8921-ldo7 {
				compatible = "qcom,rpm-pm8921-pldo";
				reg = <QCOM_RPM_PM8921_LDO7>;

				regulator-min-microvolt = <1850000>;
				regulator-max-microvolt = <2950000>;

				bias-pull-down;
			};

			pm8921-ldo8 {
				compatible = "qcom,rpm-pm8921-pldo";
				reg = <QCOM_RPM_PM8921_LDO8>;

				regulator-min-microvolt = <2800000>;
				regulator-max-microvolt = <2800000>;

				bias-pull-down;
			};

			pm8921-ldo9 {
				compatible = "qcom,rpm-pm8921-pldo";
				reg = <QCOM_RPM_PM8921_LDO9>;

				regulator-min-microvolt = <2850000>;
				regulator-max-microvolt = <2850000>;

				bias-pull-down;
			};

			pm8921-ldo10 {
				compatible = "qcom,rpm-pm8921-pldo";
				reg = <QCOM_RPM_PM8921_LDO10>;

				regulator-min-microvolt = <2900000>;
				regulator-max-microvolt = <2900000>;

				bias-pull-down;
			};

			pm8921-ldo11 {
				compatible = "qcom,rpm-pm8921-pldo";
				reg = <QCOM_RPM_PM8921_LDO11>;

				regulator-min-microvolt = <2850000>;
				regulator-max-microvolt = <2850000>;

				bias-pull-down;
			};

			pm8921-ldo12 {
				compatible = "qcom,rpm-pm8921-nldo";
				reg = <QCOM_RPM_PM8921_LDO12>;
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1200000>;

				vin-supply = <&pm8921_s4>;

				bias-pull-down;
			};

			pm8921-ldo13 {
				compatible = "qcom,rpm-pm8921-ln_ldo";
				reg = <QCOM_RPM_PM8921_LDO13>;

				regulator-min-microvolt = <1740000>;
				regulator-max-microvolt = <1740000>;
			};

			pm8921-ldo14 {
				compatible = "qcom,rpm-pm8921-pldo";
				reg = <QCOM_RPM_PM8921_LDO14>;

				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;

				bias-pull-down;
			};

			pm8921-ldo15 {
				compatible = "qcom,rpm-pm8921-pldo";
				reg = <QCOM_RPM_PM8921_LDO15>;

				status = "disabled";
			};

			pm8921-ldo16 {
				compatible = "qcom,rpm-pm8921-pldo";
				reg = <QCOM_RPM_PM8921_LDO16>;

				regulator-min-microvolt = <2800000>;
				regulator-max-microvolt = <2800000>;

				bias-pull-down;
			};

			pm8921-ldo17 {
				compatible = "qcom,rpm-pm8921-pldo";
				reg = <QCOM_RPM_PM8921_LDO17>;

				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3000000>;

				bias-pull-down;
			};

			pm8921-ldo18 {
				compatible = "qcom,rpm-pm8921-nldo";
				reg = <QCOM_RPM_PM8921_LDO18>;

				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1200000>;

				vin-supply = <&pm8921_s4>;

				bias-pull-down;
			};

			pm8921-ldo21 {
				compatible = "qcom,rpm-pm8921-pldo";
				reg = <QCOM_RPM_PM8921_LDO21>;

				status = "disabled";
			};

			pm8921-ldo22 {
				compatible = "qcom,rpm-pm8921-pldo";
				reg = <QCOM_RPM_PM8921_LDO22>;

				status = "disabled";
			};

			pm8921-ldo23 {
				compatible = "qcom,rpm-pm8921-pldo";
				reg = <QCOM_RPM_PM8921_LDO23>;

				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;

				bias-pull-down;
			};

			pm8921-ldo24 {
				compatible = "qcom,rpm-pm8921-nldo1200";
				reg = <QCOM_RPM_PM8921_LDO24>;

				regulator-min-microvolt = <750000>;
				regulator-max-microvolt = <1150000>;

				vin-supply = <&pm8921_s1>;

				bias-pull-down;

				qcom,rpm-assisted-disable;
			};

			pm8921-ldo25 {
				compatible = "qcom,rpm-pm8921-nldo1200";
				reg = <QCOM_RPM_PM8921_LDO25>;

				regulator-min-microvolt = <1250000>;
				regulator-max-microvolt = <1250000>;
				regulator-always-on;

				vin-supply = <&pm8921_s1>;

				bias-pull-down;
			};

			pm8921-ldo26 {
				compatible = "qcom,rpm-pm8921-nldo1200";
				reg = <QCOM_RPM_PM8921_LDO26>;

				regulator-min-microvolt = <375000>;
				regulator-max-microvolt = <1050000>;

				vin-supply = <&pm8921_s7>;

				bias-pull-down;
			};

			pm8921-ldo27 {
				compatible = "qcom,rpm-pm8921-nldo1200";
				reg = <QCOM_RPM_PM8921_LDO27>;

				regulator-min-microvolt = <1100000>;
				regulator-max-microvolt = <1100000>;

				vin-supply = <&pm8921_s7>;
			};

			pm8921-ldo28 {
				compatible = "qcom,rpm-pm8921-nldo1200";
				reg = <QCOM_RPM_PM8921_LDO28>;

				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1200000>;

				vin-supply = <&pm8921_s7>;

				bias-pull-down;
			};

			pm8921-ldo29 {
				compatible = "qcom,rpm-pm8921-pldo";
				reg = <QCOM_RPM_PM8921_LDO29>;

				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;

				bias-pull-down;
			};

			pm8921-lvs1 {
				compatible = "qcom,rpm-pm8921-switch";
				reg = <QCOM_RPM_PM8921_LVS1>;

				bias-pull-down;
				vin-supply = <&pm8921_s4>;
			};

			pm8921-lvs3 {
				compatible = "qcom,rpm-pm8921-switch";
				reg = <QCOM_RPM_PM8921_LVS3>;

				bias-pull-down;
				vin-supply = <&pm8921_s4>;
			};

			pm8921-lvs4 {
				compatible = "qcom,rpm-pm8921-switch";
				reg = <QCOM_RPM_PM8921_LVS4>;

				bias-pull-down;
				vin-supply = <&pm8921_s4>;
			};

			pm8921-lvs5 {
				compatible = "qcom,rpm-pm8921-switch";
				reg = <QCOM_RPM_PM8921_LVS5>;

				bias-pull-down;
				vin-supply = <&pm8921_s4>;
			};

			pm8921-lvs6 {
				compatible = "qcom,rpm-pm8921-switch";
				reg = <QCOM_RPM_PM8921_LVS6>;

				bias-pull-down;
				vin-supply = <&pm8921_s4>;
			};

			pm8921-lvs7 {
				compatible = "qcom,rpm-pm8921-switch";
				reg = <QCOM_RPM_PM8921_LVS7>;

				bias-pull-down;
				vin-supply = <&pm8921_s4>;

				qcom,rpm-assisted-disable;
			};

			pm8921-usb-otg {
				compatible = "qcom,rpm-pm8921-switch";
				reg = <QCOM_RPM_USB_OTG_SWITCH>;

			};

			pm8921-hdmi-switch {
				compatible = "qcom,rpm-pm8921-switch";
				reg = <QCOM_RPM_HDMI_SWITCH>;
			};

			pm8921-ncp {
				compatible = "qcom,rpm-pm8921-ncp";
				reg = <QCOM_RPM_PM8921_NCP>;

				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;

				qcom,switch-mode-frequency = <1600000>;

				vin-supply = <&pm8921_l6>;
			};
		};

		gpio_keys {
			compatible = "gpio-keys";
			input-name = "gpio-keys";

			camera-focus {
				label = "camera_focus";
				gpios = <&pm8921_gpio 3 1>;
				linux,input-type = <1>;
				linux,code = <KEY_CAMERA_FOCUS>;
			};

			camera-snapshot {
				label = "camera_snapshot";
				gpios = <&pm8921_gpio 4 1>;
				linux,input-type = <1>;
				linux,code = <KEY_CAMERA>;
			};

			volume-down {
				label = "volume_down";
				gpios = <&pm8921_gpio 29 1>;
				linux,input-type = <1>;
				linux,code = <KEY_VOLUMEDOWN>;
			};

			volume-up {
				label = "volume_up";
				gpios = <&pm8921_gpio 35 1>;
				linux,input-type = <1>;
				linux,code = <KEY_VOLUMEUP>;
			};
		};
	};
};

&pm8921_gpio {
	pinctrl-0 = <&pm8921_gpio_default>;
	pinctrl-names = "default";

	pm8921_gpio_default: pm8921-gpio-default {
		camera-keys {
			pins = "gpio3", "gpio4";
			function = "normal";

			bias-pull-up;
			input-enable;
			drive-push-pull;
			qcom,drive-strength = <PM8XXX_GPIO_STRENGTH_NO>;
			power-source = <2>;
		};

		volume-keys {
			pins = "gpio29", "gpio35";
			function = "normal";

			bias-pull-up;
			qcom,pull-up-strength = <0>;
			input-enable;
			drive-push-pull;
			qcom,drive-strength = <PM8XXX_GPIO_STRENGTH_NO>;
			power-source = <2>;
		};
	};
};
